target/
.idea/
.vscode/
*.iml

# datasets grandes
datasets/*
!datasets/.gitkeep

# modelos gerados localmente
models/*
!models/.gitkeep

# docker volumes
postgres_data/
minio_data/

# env local
.env.local
